.section-header {
  background-image: url(../css/img/header-img.jpg);
  height: 100vh;
  width: auto;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  position: relative;
}

.main-header {
  color: black;
  text-transform: uppercase;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  position: absolute;

  & h1 {
    font-size: 46px;
    font-weight: 400;
  }

  & span {
    font-size: 30px;
    font-weight: 300;
  }
}




