// colors
$color-primary: #7AC6DF;
$color-primary-dark: #4c7da0;
$color-primary-light: #AFE3F4;

$color-light-grey: #eee;
$color-dark-grey: #d0d0d0;

$color-white: #fff;
$color-black: #000;

$color-orange: orangered;


// fonts
$default-font: 'Nunito', sans-serif;
$default-font-size: 16px;